{{ if info }}
<span style="font-style:italic;color:#BB5555">
	{{ for i in info }}
		{{ i }}<br />
	{{ endfor }}
</span>
{{ endif }}

<h1>
	{{ book.Series | '<Unknown Series>' }} 
	{{ if book.Volume }}
		- Volume {{ book.Volume }}
	{{ endif }}
	{{ if book.Number }}
		#{{ book.Number }} {{ if book.Count }}(of {{ book.Count }}){{ endif }}
	{{ endif }}
</h1>

{{ if book.AlternateSeries }}
	<h2>
		{{ book.AlternateSeries }}
		{{ if book.AlternateNumber }}
			#{{ book.AlternateNumber }} {{ if book.AlternateCount }}(of {{ book.AlternateCount }}){{ endif }}
		{{ endif }}
	</h2>
{{ endif }}

<table border="0px" cellspacing="20px">
	<tr>
		<td valign="top" width="1px">
			{{ if book.Cover }}
				<img src="{{ book.Cover | url }}" height="300px" border="1px" />
			{{ endif }}
		</td>
		<td valign="top">
			{{ if book.Year or book.Month }}
				<b>Date:</b> {{book.Year | '????'}}/{{book.Month | '??'}}<br />
			{{ endif }}

			<b>Read:</b> {{book.ReadPercentage}}%<br />
			
			<b>Format:</b>  {{book.FileFormat}}<br />
			
			<b>Pages:</b>  {{book.PageCount}}<br />
			
			{{ if book.Rating }}
				<b>Rating:</b> {{ book.Rating }}<br />
			{{ endif }}
			
			{{ if book.CommunityRating }}
				<b>CommunityRating:</b> {{ book.CommunityRating }}<br />
			{{ endif }}

			<br />
			
			{{ if book.Title }}
				<b>Title:</b> {{book.Title}}<br />
			{{ endif }}
			{{ if book.Summary }}
				<b>Summary:</b> {{ html_quote(book.Summary).replace('\n', '<br />') | html }}<br />
			{{ endif }}
			
			<br />
			
			{{ if book.Web }}
				{{ if book.Web.startswith('http://www.comicvine.com') }}
					<a href="{{book.Web}}">See in ComicVine</a><br />
				{{ else }}
					<a href="{{book.Web}}">Webpage</a><br />
				{{ endif }}
			{{ endif }}
		</td>
	</tr>
</table>
