{{ if info }}
<span style="font-style:italic;color:#BB5555">
	{{ for i in info }}
		{{ i | html }}<br />
	{{ endfor }}
</span>
{{ endif }}

{{ for series in allSeries }}
	<h1>{{ series.name | '<Unknown Series>' | html }}</h1>
	
	<table border="0px" cellspacing="20px">
		{{ for volume in series.volumes }}
			<tr>
				<td valign="top" width="1px">
					{{ if volume.cover }}
						<img src="{{ volume.cover | url }}" border="1px" />
					{{ endif }}
				</td>
				<td valign="top">
					{{ if series.showVolumeNames }}
						<h2>Volume {{ volume.name | '<Unknown>' | html }}</h2>
					{{ endif }}
					
					<b>Issues:</b> {{ volume.issues | html }}<br />
					
					<b>Read:</b> {{ volume.readPercentage | html }}%<br />
					
					{{ if volume.missingIssues }}
						<b>Missing issues:</b> {{ for i in volume.missingIssues }}{{ i | html }} {{ endfor }}<br />
					{{ endif }}
					
					{{ if volume.duplicatedIssues }}
						<b>Duplicated issues:</b> {{ for i in volume.duplicatedIssues }}{{ i | html }} {{ endfor }}<br />
					{{ endif }}
				</td>
			</tr>
		{{ endfor }}
	</table>
{{ endfor }}

