<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<body style="font-family: Calibri; background-color: #f0f0f0; margin: 0; padding: 0;">

<table style="text-align: left" width="100%" border="0" cellpadding="5" cellspacing="0">
	<tr>
		<td valign="top" width="1px">
			{{ if Cover }}
				<div style="text-align: center"><img src="$Cover | url$" width="100px" alt="Cover"></div>
			{{ endif }}
			{{ for i in range(config.numOfFirstPages) }}
				<br><img src="{{ book.GetPage(FirstNonCoverPageIndex + i, 100, 0) | url }}" width="100px" alt="$translate('PageId', 'Page %d') % (FirstNonCoverPageIndex + i)$">
			{{ endfor }}
		</td>
		<td valign="top">
			<table style="text-align: left; vertical-align: top; width: 100%" border="0" cellpadding="0" cellspacing="2">
				<tr>
					<td style="text-align: left;">
						<span style="font-weight: bold; font-size: 21px">$FullName$</span>
						{{ if FullAlternateName }}<span style="font-size: 19px; font-weight: bold">&nbsp;&nbsp;($FullAlternateName$)</span>{{ endif }}
						{{ if FullPublisher or Date }}<span style="font-size: 19px;">&nbsp;&nbsp;&nbsp;&nbsp;{{FullPublisher}}{{ if FullPublisher and Date }}, {{ endif }}{{Date}}</span>{{ endif }}
					</td>
					{{ if Rating }}
						<td style="width: 122px; text-align: left;">
							{{ for i in range(Rating) }}<img src="$path$rating_star_full.png" style="width: 24px; height: 24px;" alt="">{{ endfor }}
						</td>
					{{ endif }}
					{{ if CommunityRating }}
						<td style="width: 122px; text-align: right;">
							{{ for i in range(CommunityRating) }}<img src="$path$com_rating_star_full.png" style="width: 24px; height: 24px;" alt="">{{ endfor }}
						</td>
					{{ endif }}
				</tr>
			</table>
			<table style="text-align: left; vertical-align: top; width: 100%; margin-left: 5px; margin-top: 5px" border="0" cellpadding="0" cellspacing="2">
			{{ for field in config.fields }}
				{{ if field == 'Cover' }}
				{{ elif field == 'Title' }}
					</table>
					<div style="font-style: italic; font-weight: bold">$Title$</div>
					<table style="text-align: left; vertical-align: top; width: 100%; margin-left: 5px; margin-top: 5px" border="0" cellpadding="0" cellspacing="2">
				{{ elif field == 'Summary' }}
					</table>
					<div style="font-size: 11px; line-height: 14px; text-align: justify; font-family: Arial,Helvetica,sans; margin: 10px">$Summary$</div>
					<table style="text-align: left; vertical-align: top; width: 100%; margin-left: 5px; margin-top: 5px" border="0" cellpadding="0" cellspacing="2">
				{{ elif field == '-' }}
					</table>
					<hr>
					<table style="text-align: left; vertical-align: top; width: 100%" border="0" cellpadding="0" cellspacing="6">
				{{ elif field == 'ReadPercentage' }}
					<tr>
						<td style="width: 123px;  vertical-align: top;">$field | translate$:</td>
						<td style="vertical-align: top;">$ReadPercentage$%</td>
					</tr>
				{{ elif field == 'Web' }}
					<tr>
						<td colspan="2">
							{{ if Web }}
								{{ if Web.startswith('http://www.comicvine.com') }}
									<a href="$Web$">$translate('WebComicVine', 'See in ComicVine')$</a><br />
								{{ else }}
									<a href="$Web$">$field | translate$</a><br />
								{{ endif }}
							{{ endif }}
						</td>
					</tr>
				{{ else }}
					<tr>
						<td style="width: 123px; vertical-align: top;">$field | translate$:</td>
						<td style="vertical-align: top;">
							{{ if isinstance(getattr(book, field), list)}}
								$'\n'.join(getattr(book, field)$
							{{ else }}
								$getattr(book, field)$
							{{ endif }}
						</td>
					</tr>
				{{ endif }}
			{{ endfor }}
			</table>
		</td>
	</tr>
</table>
</body>
</html>
